system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/Velvet/Velvet.apk
system/system/app/YandexBrowser/YandexBrowser.apk
system/system/app/Outlook/Outlook.apk
system/system/app/Chrome/Chrome.apk
system/system/app/Alexa/Alexa.apk
